nav.navigation
    position: fixed
    z-index: $z-nav
    top: 0
    left: 0
    width: 100%
    height: $nav-height
    background: black
    user-select: none
    border-bottom: none

    @include mq(nav)
        border-bottom: 1px solid $gold-dark

    .inner
        max-width: $container-width
        margin: 0 auto
        display: flex
        justify-content: space-between
        height: 100%
        color: white

        .brand
            height: 100%
            display: flex
            align-items: center

            img
                max-height: calc(#{$nav-height} - 20px)

        .nav-toggle
            height: 100%
            align-items: center
            cursor: pointer
            padding: 0 20px
            display: none

            &:hover
                background: transparentize($gold-light, .6)

            @include mq(nav)
                display: flex

        .links
            position: relative
            height: 100%
            display: flex
            border: none

            @include mq(nav)
                display: block
                position: fixed
                width: $nav-mobile-width
                right: -$nav-mobile-width
                top: $nav-height
                height: calc(100% - #{$nav-height})
                background: black
                border-left: 1px solid $gold-dark
                text-align: center
                overflow-y: auto
                transition: right 300ms ease-in-out

                &.is-showing
                    right: 0

            a.nav-item, .dropdown
                color: white
                display: flex
                align-items: center
                height: 100%
                padding: 0 20px

                &:hover
                    background: transparentize($gold-light, .6)

                &.is-active
                    color: $gold-light

                @include mq(nav)
                    display: block
                    height: auto
                    border: none
                    padding: 20px
                    border-bottom: 1px solid $gold-dark

            .dropdown
                cursor: pointer
                position: relative
                padding: 0

                @include mq(nav)
                    border-bottom: none

                &:hover
                    .dropdown-inner
                        display: block

                .dropdown-toggle
                    height: 100%
                    display: flex
                    align-items: center
                    padding: 0 20px

                    @include mq(nav)
                        display: none

                .dropdown-inner
                    display: none
                    border: 1px solid $gold-dark
                    position: absolute
                    background: black
                    top: 100%
                    right: 0
                    text-align: center

                    @include mq(nav)
                        display: block
                        background: transparent
                        border: none
                        right: 0
                        width: 100%

                    &.is-showing
                        display: block

                    a.dropdown-item
                        display: inline-block
                        color: white
                        padding: 20px
                        width: 100%
                        border-bottom: 1px solid $gold-dark

                        &:last-child
                            border-bottom: none

                        &:hover
                            background: transparentize($gold-light, .6)

                    .group
                        border-bottom: 1px solid $gold-dark
                        padding: 10px 0 0 0

                        &:last-child
                            border-bottom: none

                        span
                            font-weight: 300
                            color: $gold-dark
                            cursor: default
                            display: inline-block
                            width: 100%

                        a.group-item
                            display: inline-block
                            color: white
                            padding: 20px
                            border-bottom: 1px solid #333
                            width: 100%

                            &:last-child
                                border-bottom: none

                            &:hover
                                background: transparentize($gold-light, .6)
