.navigation
    position: fixed
    z-index: $z-nav
    top: 0
    left: 0
    width: 100%
    background: darkgray
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5)

    .inner
        max-width: $container-width
        margin: 0 auto
