// Font
$main-font: 'Roboto', sans-serif

// z-index
$z-main: 1
$z-nav: 2

// colors
$white: #fff
$black: #000
$red: red
$gold-light: rgba(#dfbe6a, .8)
$gold-dark: rgba(#926f34, .8)
$blue-light: #4e69a2
$blue-dark: #3b5998

// Layout
$container-width: 800px
$nav-height: 50px

@mixin mq($canvas)
    @if $canvas == l
        @media(max-width: 1024px)
            @content
    @else if $canvas == m
        @media(max-width: 768px)
            @content
    @else if $canvas == s
        @media(max-width: 500px)
            @content
