// Font
$main-font: 'Raleway', sans-serif

// z-index
$z-main: 1
$z-nav: 2

// Layout
$container-width: 600px

@mixin mq($canvas)
    @if $canvas == l
        @media(max-width: 1024px)
            @content
    @else if $canvas == m
        @media(max-width: 768px)
            @content
    @else if $canvas == s
        @media(max-width: 500px)
            @content
