#welcome
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-height: 100vh
    padding: 20px
    color: white
    background:
        image: url('/img/barbell-bg.jpg')
        attachment: fixed
        position: top
        repeat: no-repeat

    .logo
        width: 400px

    a
        text-decoration: none
        color: black
        background: lightblue
        padding: 10px
        border-radius: 10px
        transition: all 300ms ease-in-out

        &:hover
            background: darken(lightblue, 20)
